@import "tailwindcss";

@theme{
  --font-orbitron: "Orbitron", sans-serif;
}


body {
  font-family: sans-serif;
  min-height: 100vh;
}
/* Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* IE */
.hide-scrollbar {
  -ms-overflow-style: none;
}